<% if current_user != true_user %>
  <div class="alert alert-warning text-center">
    You're logged in as <b><%= current_user.name %> (<%= current_user.email %>)</b>
    <%= link_to stop_impersonating_madmin_impersonates_path, method: :post do %><%= icon("fas", "times") %> Logout <% end %>
  </div>
<% end %>

<nav class="navbar navbar-expand-md navbar-light bg-l">
  <div class="container mx-auto">
    <%= link_to "#{Rails.configuration.application_name}", root_path, class: "navbar-brand" %>
    <% if current_user&.seller? %>
      <span class="d-block bg-light pc rounded px-1"> Seller Store</span>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav me-auto mt-2 mt-md-0">
        <li class="nav-item">
          <%= link_to "Products", products_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "#{current_user&.buyer? ? "Orders": "My Sales"}", orders_path, class: "nav-link" %>
        </li>
        <% if current_user&.buyer? %>
         <li class="nav-item">
          <%= link_to "Reviews", reviews_path, class: "nav-link" %>
        </li>
        <% end %>
      </ul>

      <ul class="navbar-nav d-flex justify-content-center align-items-center">
        <li class="nav-item"><%= link_to "What's New", announcements_path, class: "nav-link #{unread_announcements(current_user)}" %></li>
        <% if user_signed_in? %>

          <li class="nav-item mx-1">
            <%= link_to notifications_path, class: "nav-link #{unread_notification(current_user)}" do %>
              <span><i class="fa fa-bell fs-5 mt-1" aria-hidden="true"></i></span>
            <% end %>
          </li>
          <% if current_user.buyer? %>
          <li class="nav-item">
            <% if @cart%>
              <%= link_to cart_path(@cart), class: 'text-decoration-none' do %>
                <i class="bi bi-cart-fill fs-5">
                  <% if @cart && @cart.cart_items.count > 0 %>
                    <span class="bg-white rounded-circle px-1 fs-5 pc mb-2 text-center"><%= @cart.cart_items.count %></span>
                  <% end %>
                </i>
              <% end %>
            <% end %>
          </li>
          <% end %>

          <li class="nav-item dropdown d-flex">
            <%= link_to "#", id: "navbar-dropdown", class: "nav-link dropdown-toggle d-flex justify-content-center align-items-center", data: { target: "nav-account-dropdown", bs_toggle: "dropdown" }, aria: { haspopup: true, expanded: false } do %>
              <%= image_tag avatar_path(current_user), size: "30x30", class: "rounded-circle shadow-sm d-block mx-auto" if current_user.avatar.present? %>
            <% end %>
            <div id="nav-account-dropdown" class="dropdown-menu dropdown-menu-end" aria-labelledby="navbar-dropdown">
              <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item text-black" %>
              <% if current_user.admin? && respond_to?(:madmin_root_path) %>
                <div class="dropdown-divider"></div>
                <%= link_to "Admin Area", madmin_root_path, class: "dropdown-item" %>
              <% end %>
              <div class="dropdown-divider"></div>
              <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>

        <% else %>
          <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Login", new_user_session_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
