<h1 class="pc">Shopping Cart</h1>
<% if @cart.cart_items.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @cart.cart_items.each do |item| %>
        <tr>
          <td><%= item.product.title %></td>
          <td><%= number_to_currency(item.product.price) %></td>
          <td>
            <%= form_with(model: item, url: cart_cart_item_path(item.cart, item), local: true, method: :put) do |f| %>
              <div class="d-flex justify-content-center align-items-center">
                <%= f.number_field :quantity, min: 1, class: "form-control mx-2" %>
                <%= f.submit "Update Quantity", class: "btn btn-p" %>
              </div>
            <% end %>

          </td>
          <td>
            <%= link_to cart_cart_item_path(@cart, item), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } do %>
              <i class="bi bi-trash"> Remove</i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h3 class="pc">Total: <%= number_to_currency(@cart.total_price) %></h3>
  <%= button_to 'Proceed to Payment', checkout_path, method: :post, class: 'btn btn-success mt-3', form: { id: 'checkout-form' } %>
<% else %>
  <div class="text-center mt-5">
    <h2 class="display-4">Your cart is empty :(</h2>
    <p>Explore our products and add them to your cart!</p>
    <%= link_to 'Browse Products', products_path, class: 'btn btn-p btn-lg' %>
  </div>
<% end %>
<script src="https://js.stripe.com/v3/"></script>
<script>
  document.addEventListener("turbolinks:load", function() {
    var stripe = Stripe('<%= Rails.application.credentials.dig(:stripe, :publishable_key) %>');
    var checkoutButton = document.getElementById('checkout-form');
    checkoutButton.addEventListener('submit', function(e) {
      fetch('<%= checkout_path %>', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
        }
      }).then(function(response) {
        return response.json();
      }).then(function(session) {
        return stripe.redirectToCheckout({ sessionId: session.id });
      }).then(function(result) {
        if (result.error) {
          alert(result.error.message);
        }
      }).catch(function(error) {
        console.error('Error')}
    }
  }
</script>